{% extends "base.html" %}

{% block container %}
    <div class="col-lg-4 offset-lg-4">
        <div class="media">
            <div class="media-body">
                <div class="mt-0">
                    ---
                </div>
                <form action="{url 'shop'}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        {{form}}
                        <button type="submit" class="btn btn-primary btn-block mt-5">Consigue tu Libreta</button>
                    </div>
                    
                </form>
            </div>
        </div>
        <h6 class="ml-1 mt-1"></h6>
    </div>
{% endblock container %}